header {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  z-index: 10;
  border: 1px solid black;
}
header h1 {
  color: rgb(91, 91, 91);
  font-size: 35px;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding: 20px 30px;
}
